*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

.container{
	width: 85%;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after{
	content: "";
	clear: both;
	display: table;
}

header{
	background: #000;
	min-height: 80px;
}

.logo{
	float: left;
	margin-top: 12px;
}

.menu{
	float: right;
	line-height: 80px;
}

.menu nav ul{
	padding-left: 0;
	margin: 0;
}

.menu nav ul li{
	display: inline-block;
	margin-left: 25px;
}

.menu nav ul li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.slider{
	background-image: url(img/slider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 220px;
}

.slider h1,p{
	margin: 0;
}

.slider p{
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
}

.slider p:after{
	content:"";
	display: block;
	width: 110px;
	height: 1px;
	background-color: #fff;
	margin: 3px auto;
}

.slider h1{
	font-size: 50px;
	color: #fff;
	text-align: center;
}

.work{
	margin-top: 30px;
	height: 50px;
	margin-bottom: 20px;
}


.work-tex{
	float: left;
	line-height: 50px;
}

.work-tex h2{
	color: #000;
	font-size: 40px;
	margin: 0;
}

.work-nav{
	float: right;
	line-height: 50px;
}

.work-nav nav ul{
	padding-left: 0;
	margin: 0;
}

.work-nav nav ul li{
	display: inline-block;
	margin-left: 20px;
}

.work-nav nav ul li a{
	color: #000;
	text-decoration: none;
	font-size: 18px;
}

.work-nav nav ul li a:hover{
	color: #da2195;
}

.cols{
	margin-left: -1%;
}

.col img{
	width: 100%;
}
.col{
	width: 32.33%;
	margin-left: 1%;
	float: left;
	margin-bottom: 1%;
}

footer{
	background: #7b8590;
	color: #fff;
}

.info{
	padding: 20px 0px;
	border-bottom: 2px solid #fff;
	padding-bottom: 18px
}

.info nav{
	float: left;
}

.info nav ul{
	padding-left: 0;
	margin: 0;
}

.info nav ul li{
	display: inline-block;
	margin-right: 20px;
}

.info nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

.top{
	float: right;
}

.top p{
	color: #fff;
	font-size: 18px;
}

.info-redes{
	margin-top: 15px;
	height: 60px;
}

.text-info{
	float: left;
	line-height: 60px;
}

.text-info p{
	font-size: 15px;
}

.redes{
	float: right;
	line-height: 60px;
}

.redes nav ul{
	padding-left: 0;
	margin: 0;
}

.redes nav ul li{
	display: inline-block;
	margin-left: 10px;
}

.redes nav ul li a{
	text-decoration: none;
}